.app {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-thin {
  display: flex;
  margin: 50px 60px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #DBDBDB;
  height: 80vh;
}

.cards-cars {
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
  background-color: #dbdbdb;
}

.car-card {
  overflow: hidden;
  height: 200px;
  background: white;
  display: flex;
  align-items: center;
  margin: 10px 10px;
}

.car-card img {
  object-fit: cover;
  margin-left: 2%;
}

.car-details {
  padding: 40px;
}

.car-details h4 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.car-details p {
  font-size: 20px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.car-details h5 {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4;
  opacity: 1;
  padding: 10px 10px;
  border: 1px solid black;
  text-align: center;
}


.side-bar {
  align-items: center;
  width: 30%;
}

.garage-banner {
  width: 100%;
  height: 40vh;
}

.garage-logo {
  width: 8vh;
  height: 8vh;
  position: relative;
  object-fit: cover;
  top: -40px;
  left: 30%;
  border: 3px solid white;
  border-radius: 50%;
}

.side-bar h3 {
  text-align: center;
  font-weight: bold;
}

.side-bar p {
  text-align: center;
  padding: 10px 10px;
}

.side-bar .button {
  widows: 90%;
  display: flex;
  justify-content: center;
  background: white;
  color: black;
  padding: 10px 40px;
  margin-right: 20%;
  margin-left: 20%;
  border: 2px solid black;
  border-radius: 10px;

}

.form {
  margin: auto;
  padding: 10px 10px;
}
